* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font family */
@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('ttf');
    /* - Weights: 400, 600, 700 */
}

@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('ttf');
    /* - Weights: 400 */
}

/* Custom Properties, update these for your own design */
:root {
    --ff-primary: 'Young Serif', sans-serif;
    --ff-secondary: 'Outfit', monospace;
    /* Revisar que font puedo usar como Font Safe en caso de Outfit no carge */

}


/* Base → Mobile (hasta 375px aprox) */
body {
    font-size: 16px;
    background: hsl(0, 0%, 100%);
}

/* Desktop */
@media (min-width: 1440px) {
    body {
        /* font-size: 16px; */
        background: lightgreen;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}