* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font family */
@font-face {
    font-family: Outfit;
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    /* - Weights: 400, 600, 700 */
}

@font-face {
    font-family: YoungSerif;
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
    /* - Weights: 400 */
}

/* Custom Properties, update these for your own design */
:root {
    --ff-primary: YoungSerif;
    --ff-secondary: Outfit;
    /* Revisar que font puedo usar como Font Safe en caso de Outfit no carge */

    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);

}

html {
    font-size: 16px;
}

body {
    background: var(--Stone100);
    font-family: var(--ff-primary);
    font-weight: 400;
    padding: 4.5rem;
}

main {
    background: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
}

.img-recepi {
    height: 100%;
    width: 90%;
    border-radius: 20px;
    margin: 2.2rem;
}

.wrapper {
    width: 90%;
}

.title {
    font-size: 2.5rem;
    font-weight: inherit;
    color: var(--Stone900);
}

.description {
    margin: 1.5rem 0;
    font-family: var(--ff-secondary);
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--Stone600);
}

.section-preparation {
    background: var(--Rose50);
    font-family: var(--ff-secondary);
    margin: 2rem 0;
    padding: 2rem 2rem 1.2rem;
    border-radius: 10px;
}

.title-peparation {
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--Rose800);
}

.list-preparation {
    padding-left: 2rem;
    font-size: 1.1rem;
    color: var(--Stone600);
}

.list-preparation>li {
    padding-left: 1.4rem;
    margin-bottom: .7rem;
}

.list-preparation>li::marker {
    color: var(--Rose800);
}

.list-preparation>li>strong {
    font-weight: bold;
}

.sub-title-ingredients {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--Brown800);
}

.list-ingredients {
    font-family: var(--ff-secondary);
    color: var(--Stone600);
    padding: 0 1rem 1rem 2rem;
    font-size: 1.1rem;
}

.list-ingredients>li {
    padding-left: 1rem;
    margin-bottom: 0.7rem;
}

.list-ingredients>li::marker {
    color: var(--Rose800);
}

hr {
    margin-bottom: 2rem;
    border: 0;
    height: 1px;
    background-color: var(--Stone150);
}

.sub-title-intructions {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--Brown800);
}

.list-instructions {
    font-family: var(--ff-secondary);
    color: var(--Stone600);
    padding: 0 1rem 1rem 2rem;
    font-size: 1.1rem;
}

.list-instructions>li {
    padding-left: 1rem;
    margin-bottom: 0.7rem;
}

.list-instructions>li::marker {
    color: var(--Rose800);
    font-weight: bold;
}

.list-instructions>li>strong {
    /* color: var(--Stone900); */
    font-weight: bold;
}

.sub-title-nutricion {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--Brown800);
}

table {
    text-align: left;
    font-family: var(--ff-secondary);
    width: 100%;
    margin-bottom: 2.5rem;
}

.col-light {
    padding: .5rem 0 1rem 2.5rem;
    color: var(--Stone600);
    font-weight: 400;
}

.col-bold {
    padding: 0.5rem 2.5rem 1rem 0;
    color: var(--Brown800);
    font-weight: bold;
}

table tr:not(:last-child)>th,
table tr:not(:last-child)>td {
    border-bottom: 1px solid var(--Stone150);
}

@media (max-width: 850px) {

    html,
    body {
        font-size: 16px;
        padding: 0;
    }

    /* .img-recepi {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        margin: 0 2.2rem 2.2rem;
    } */
}

/* movil */
@media (max-width: 550px) {

    html,
    body {
        font-size: 14px;
        /* padding: 6rem; */
        padding: 0;
    }

    .img-recepi {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        margin: 0 2.2rem 2.2rem;
    }
}




/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */